#sidebar-overlap {
  display: none;
  
  position: fixed;
  left: 0;
//  right: 0;
  top: 0;
  bottom: 0;
  
  &.sidebar-active {
    display: block;
  
    @include desktop() {
      display: none;
    }
  }
}

#sidebar-inner-overlap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  @include desktop() {
    display: none;
  }
}      