.sidebar-toggle {
  position: fixed;
  right: $b2t-position-right;
  bottom: 56px;
  width: 22px;
  height: 22px;
  padding: 5px;
  background: $black-deep;
  line-height: 0;
  z-index: $zindex-5;
  cursor: pointer;
  -webkit-transform: translateZ(0);

  @include tablet() {
//    display: none;
    bottom: 48px;
    right: 10px;
    opacity: 0.5;
    
    &:hover, &:active, &:focus {
      opacity: 1;
    }
  }
  @include mobile() {
//    display: none;
    bottom: 48px;
    right: 10px;
    opacity: 0.5;
    
    &:hover, &:active, &:focus {
      opacity: 1;
    }
  }
}



.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 4px;
  width: 100%;
  background: white;
  margin-top: 4px;

  &:first-child { margin-top: 0; }
}
