# jekyll
_site
.sass-cache
.jekyll-metadata

# ruby
.rbenv-version
.rvmrc

# npm
node_modules/
npm-debug.log

# bower
public/libs/

# Mac OS X
.DS_Store

# Windows OS
Thumbs.db

# Webstorm
.idea/

# etc
*.bak
*.lock
!.gitkeep
