---
layout: page
title: Gallery
---

<hr/>

<ul class="tag_box photos inline" {% if site.social.Instagram %} style="cursor: pointer;" onclick="window.open('{{ site.social.Instagram }}', '_blank');" {% endif %}>
    <li style="display: table; width: 100%;">
        <div style="display: table-cell; text-align: center;">
            <img id="user_profile_picture_img"/>
            <div id="user_profile_picture_div"></div>
        </div>
        <div style="display: table-cell; vertical-align: bottom; padding-left: 12px;">
            <div style="text-align: left;" id="user_name"></div>
            <div style="text-align: center;"><hr /></div>
            <div style="text-align: center;" id="user_bio"></div>
            <div style="text-align: right;" id="user_counts"></div>    
        </div>
    </li>
</ul>

<hr/>

<div style="position:absolute;width:100%;left:0;">
    <div id="gallery_contents_crawler" style="height:300px;"></div>    
</div>

<div id="gallery_contents" style="width:100%;height:300px;"></div>

{% if site.oauth.instagram.enable %}
{% assign internal_script = site.vendors._internal | append: '/' | append: 'crawler/index.js?v=1.5.0' | relative_url %}
<script type="text/javascript">
    "use strict";
    
    function lazyLoadScript(url) {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;
        var x = document.getElementsByTagName('body')[0];
        x.append(s);
    }
    
    lazyLoadScript("{{ site.vendors['crawler'] | default: internal_script }}");
    lazyLoadScript("/_assets/js/src/gallery.js?v0.0.1");
</script>
{% endif %}